@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  @apply bg-slate-100 text-slate-900;
}

a {
  @apply text-primary-500;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}
